# 20180712 Thursday

## To make a Work In Progress presentation/blog post, the first thing I want to do is Graph US (CDC) flu season peaks  
- I need to do this to help me determine which date frame I can download isolates from to get a small story that is interesting  

### FluView 
https://www.cdc.gov/flu/weekly/fluviewinteractive.htm
- choose tab: ILI and Viral Surveillance
- Which link is appropriate?
    - https://gis.cdc.gov/grasp/fluview/fluportaldashboard.html
        - National, Regional, and State Level Outpatient Illness and Viral Surveillance
        - This application showcases two of CDCâ€™s influenza surveillance systems, the WHO/NREVSS Collaborating Labs and the US Outpatient Influenza-like Illness Surveillance Network (ILINet). Users are able to view both influenza laboratory data and medically attended visits for influenza-like illness (ILI) side by side for the influenza season and geography (national, regional, or select states) of interest.
        - Data downloaded to this file: "FluViewPhase2Data.zip"
    - https://gis.cdc.gov/grasp/fluview/flu_by_age_virus.html
        - Age Group Distribution of Influenza Positive Tests Reported by Public Health Laboratories
        - A second application also shows the age group distribution of influenza positive tests that are reported by public health laboratories by influenza virus type and subtype/lineage. This application allows users to view laboratory data from multiple seasons and different age groups.
        - data downloaded to these 2 files: "VirusViewByWeek.csv", "AgeViewByWeek.csv"

The three files above are saved in the directory 
~/Documents/Work/Programming/bioinf/Data/CDCvirusILI

Note the disclaimers have the two links:
- https://www.cdc.gov/flu/weekly/overview.htm#Viral
- https://www.cdc.gov/flu/weekly/overview.htm#Outpatient

# 20180713 Friday

Try to graph CDC data

First clean the data

Is there a way to ensure same number of weeks per year? 

What does the data look like?

Found .xls spreadsheets that I used for my last interview & put them into google drive (so I could look at them cuz I don't want to buy excel right now)

# 20180715 Sunday

File: ILINet.csv    

This file contains data with the percentage of visits for influenza-like-illness reported by sentinel providers    

I want a graph with x = time, y = %UNWEIGHTED ILI, and I will need to determine time as a proportion of weeks per year.

# 20180716 Monday

Decided to organize my projects & Jupyter notebooks by figure, so pasted the above here and moved data file to folder below

In [2]:
pwd

'/Users/Ds2007laptop/Documents/Work/Programming/Flu/001my1stproject_FluHA2018/Figures/Fig1_CDC-ILI'

### Data is here:   
/Users/Ds2007laptop/Documents/Work/Programming/Flu/001my1stproject_FluHA2018/Data/CDCvirusILI/FluViewPhase2Data/ILINet.csv  

Question: How do I get the text above to wrap in Jupyter?
Answer:
https://stackoverflow.com/questions/36419342/how-to-wrap-code-text-in-jupyter-notebooks

### Steps to get what I want  
- load a csv wrangler... look in Bioinf book to find out what's it called
- create a new column "PortionOfYear" that holds the solution from dividing the value in column "WEEK" by 53
- create a new column "YearWPortion" that adds the integer column "YEAR" + the integer in column "YearWPortion"
- graph, using matplotlib plt., 
    - x-axis values from "YearWPortion"
    - y-axis values from "%UNWEIGHTED ILI"
- look to see if I need to add week 53 to some years or is data okay as is?

# 20180717 Tuesday

## csv wrangling /  munging

Read Py4Bio, Ch 5.3 - CSV files

Try to make sense of Listing 5.6 in "Python for Bioinformatics, second edition" Jupyter Notebooks

go back to beginning of... 
### Ch5 Reading and Writing Files

"reading a text file" is the process of entering the data from a file into a program.

"parsing" is the process of determining the syntactic structure of an expression to retrieve specific information for further analysis.

(I'm not sure what "an expression" is, but I'll press on, it could it be a document(?))

- A .csv file consists of data that are separated by commas and returns  
- When python reads a .csv file, it recognizes each line as a string  
- then you have to parse the data, meaning you have to tell python that the commas (or tabs, etc...) separate specific units of data   

CSV files are handy, but their data is not hierarchical. JSON & XML can store hierarchical data.
- JSON is JavaScript Object Notation  
- XML is eXtensible Markup Language  
Pickle is a python module that can store and retrieve the contents of variables.  


Download the files so I can run some of the Py4Bio programs here (add hash after 1st run, so I don't download multiple times)

Question: Why doesn't the list go into a scrollable window like it does in the Py4Bio notebook?

In [13]:
# !curl https://raw.githubusercontent.com/Serulab/Py4Bio/master/samples/samples.tar.bz2 -o samples.tar.bz2
# !mkdir samples
# !tar xvfj samples.tar.bz2 -C samples

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 16.5M  100 16.5M    0     0  5087k      0  0:00:03  0:00:03 --:--:-- 5089k
x BLAST_output.xml
x TAIR7_Transcripts_by_map_position.gz
x pMOSBlue.txt
x fishbacteria.csv
x UniVec_Core.nsq
x t3beta.fasta
x PythonU.db
x input4align.dnd
x pdb1apk.ent.gz
x readme.txt
x contig1.ace
x example.aln
x hsc1.fasta
x bioinfo/seqs/15721870.fasta
x primers.txt
x bioinfo/seqs/4586830.fasta
x bioinfo/seqs/7638455.fasta
x GSM188012.CEL
x 3seqs.fas
x sampleX.fas
x sampleXblast.xml
x B1.csv
x phd1
x conglycinin.phy
x bioinfo/seqs/218744616.fasta
x spfile.txt
x bioinfo/seqs/513419.fasta
x bioinfo/seqs/513710.fasta
x prot.fas
x cas9align.fasta
x seqA.fas
x bioinfo/seqs/
x bioinfo/
x pdbaa
x other.xml
x vectorssmall.fasta
x t3.fasta
x a19.gp
x data.csv
x input4align.fasta
x B1IXL9.txt
x fasta22.fas
x bioinfo/seqs/7415878.fasta
x bioinfo/seqs/513718.fasta
x bioinfo/seqs/513719.fasta
x bioinfo/seqs/6598312.fasta
x UniVec_Core.nin
x Q5R5X8.fas
x bioinfo/seqs/513717.fasta
x BcrA.gp
x bioinfo/seqs/2623545.fasta
x bioinfo/seqs/63108399.fasta
x conglycinin.dnd
x NC2033.txt
x fishdata.csv
x uniprotrecord.xml
x BLAST_output.html
x Q9JJE1.xml
x test3.csv
x UniVec_Core.nhr
x sampledata.xlsx
x UniVec_Core
x NC_006581.gb
x conglycinin.multiple.phy
x conglycinin.fasta


Reading a file is a 3 step process in Python:
1. Open() is used to create a _filehandle_  
    - The _filehandle_ is used to refer to the file during the file's lifetime
    - open(nameoffile, opening mode) # open takes 2 parameters
    - format(nameoffile) = str, including system (aka absolute) path
        - a relative path is one that takes you from the directory you are in to the file
        - an absolute path takes you to the file from the home directory
    - opening mode can = 
        - "r" to read (default)
        - "w" to write
        - "r+" read & write
        - "a" to append
    - e.g. >>> file_handle = open('readme.txt', 'r')


2. Reading the contents of a file
    (These are good for fasta files, see examples in Ch 5.1)
    - file_handle.read(n)
        - reads n bytes from the file, without a parameter it reads the whole file
    - file_handle.readine()
        - returns a string with only one line including '\n' to mark the end of a line
        - Question: could I use this function as an easy way to get the 1st line of a .csv file?
        - Answer: yes
    - file_handle.readlines()
        - returns a list where each line is turned into an element with the format of a string 


3. Close the file
    - file_handle.close()
    - if we don't close it Python will close it after program execution, but this could leave files open & using memory when they are not being used
    - use __with__ 

    - Instead of:

In [2]:
file_handle = open('samples/seqA.fas', 'r')
# do something with the file
file_handle.read()
file_handle.close()

   - Do this:

In [19]:
with open('samples/seqA.fas', 'r') as file_handle:
    print(file_handle.read()) # after this the file is closed

>O00626|HUMAN Small inducible cytokine A22.
MARLQTALLVVLVLLAVALQATEAGPYGANMEDSVCCRDYVRYRLPLRVVKHFYWTSDSCPRPGVVLLTFRDKEICADPRVPWVKMILNKLSQ

Note: fh is short for file_handle
Note: read() could take up too much memory when dealing with big files, therefore you should use readline() to loop thorugh the lines instead

To iterage through lines run a for loop: `for x in filehandle:`

Listing 5.2

In [ ]:
sequence = ' ' 
with open('samples/seqA.fas') as fh:
    name = fh.readline()[1:-1] 
    for line in fh: # iterates through all lines in the file, starting after the one read above
        sequence += line.replace('\n','') # replaces (old, new) 
print('The name is: {0}'.format(name))
print('The sequence is: {0}'.format(sequence))

Listing 5.6: To iterate through a .csv file...

In [20]:
with open('samples/B1.csv', 'r') as file_handle:
    print(file_handle.read())

MarkerID,LenAmp,MotifAmpForSeq
TKO001,119,AG(12)
TKO002,255,TC(16)
TKO003,121,AG(5)
TKO004,220,AG(9)
TKO005,238,TC(17)

In [2]:
total_len = 0
with open('samples/B1.csv') as fh:
    next(fh) # returns the next line, skips the header
    for n, line in enumerate(fh): # n and line are the iterating variables. enumerate creates an indexed list
        data = line.split(',') # assigns the variable data to each line split by comma
        total_len += int(data[1]) # int converts the string LenAmp to an integer
print(total_len/(n+1)) # need +1 for average because index starts at zero!

190.6

Question: how are n and line differentiated in the first line of the for loop? How does n get assigned the number from enumerate while line refers to the whole line?

Googled python 3 enumerate

you can have two items in a for loop usually interpreted positionally based on the function that follows

found: the for loop of enumerate binds to `row_number` and `row`

In [1]:
next?

In [16]:
enumerate?

In [17]:
int?

Python3 has a library called `csv`

Listing 5.7

In [6]:
import csv
total_len=0
lines = csv.reader(open('samples/B1.csv')) # assigns the variable lines to the open & read file
next(lines) # skips the header line
for n, line in enumerate(lines):
    total_len += int(line[1])
print(total_len / (n + 1))

190.6

Using the csv module allows us to access the contents of each line wihout using the split() method

Converting the object returned by the reader method to a list generates something similar to a matrix
- this makes a two-dimensional array of the type name[row,column]

In [22]:
data = list(csv.reader(open('samples/B1.csv')))
data[0][2]

'MotifAmpForSeq'

More functions from the csv module

In [ ]:
# define the delimeter
rows = csv.reader(open('/etc/passwd'), delimiter=':')

In [31]:
with open('samples/data.csv', 'r') as file_handle:
    print(file_handle.read())

Entry	Entry name	Status	Protein names	Gene names	Organism	Length
Q8BG02	2ABG_MOUSE	reviewed	Serine/threonine-protein phosphatase 2A 55 kDa regulatory subunit B gamma isoform (PP2A subunit B isoform B55-gamma) (PP2A subunit B isoform PR55-gamma) (PP2A subunit B isoform R2-gamma) (PP2A subunit B isoform gamma)	Ppp2r2c	Mus musculus (Mouse)	447
P24815	3BHS1_MOUSE	reviewed	3 beta-hydroxysteroid dehydrogenase/Delta 5-->4-isomerase type 1 (3 beta-hydroxysteroid dehydrogenase/Delta 5-->4-isomerase type I) (3-beta-HSD I) [Includes: 3-beta-hydroxy-Delta(5)-steroid dehydrogenase (EC 1.1.1.145) (3-beta-hydroxy-5-ene steroid dehydrogenase) (Progesterone reductase); Steroid Delta-isomerase (EC 5.3.3.1) (Delta-5-3-ketosteroid isomerase)]	Hsd3b1 Hsd3b	Mus musculus (Mouse)	373
P55194	3BP1_MOUSE	reviewed	SH3 domain-binding protein 1 (3BP-1)	Sh3bp1 3bp1	Mus musculus (Mouse)	601
P28334	5HT1B_MOUSE	reviewed	5-hydroxytryptamine receptor 1B (5-HT-1B) (5-HT1B) (Serotonin receptor 1B)	Htr1b 5ht1b	Mus musculus (Mouse)	386
P35363	5HT2A_MOUSE	reviewed	5-hydroxytryptamine receptor 2A (5-HT-2) (5-HT-2A) (Serotonin receptor 2A)	Htr2a Htr2	Mus musculus (Mouse)	471
Q02152	5HT2B_MOUSE	reviewed	5-hydroxytryptamine receptor 2B (5-HT-2B) (5-HT2B) (5-HT-2F) (NP75 protein) (Serotonin receptor 2B)	Htr2b	Mus musculus (Mouse)	479
P23979	5HT3A_MOUSE	reviewed	5-hydroxytryptamine receptor 3A (5-HT3-A) (5-HT3A) (5-hydroxytryptamine receptor 3) (5-HT-3) (5-HT3R) (Serotonin receptor 3A) (Serotonin-gated ion channel receptor)	Htr3a 5ht3 Htr3	Mus musculus (Mouse)	487
P97288	5HT4R_MOUSE	reviewed	5-hydroxytryptamine receptor 4 (5-HT-4) (5-HT4) (Serotonin receptor 4)	Htr4	Mus musculus (Mouse)	388
P32304	5HT7R_MOUSE	reviewed	5-hydroxytryptamine receptor 7 (5-HT-7) (5-HT7) (5-HT-X) (Serotonin receptor 7)	Htr7	Mus musculus (Mouse)	448
Q9DCD0	6PGD_MOUSE	reviewed	6-phosphogluconate dehydrogenase, decarboxylating (EC 1.1.1.44)	Pgd	Mus musculus (Mouse)	483
Q61247	A2AP_MOUSE	reviewed	Alpha-2-antiplasmin (Alpha-2-AP) (Alpha-2-plasmin inhibitor) (Alpha-2-PI) (Serpin F2)	Serpinf2 Pli	Mus musculus (Mouse)	491
Q9WVM8	AADAT_MOUSE	reviewed	Kynurenine/alpha-aminoadipate aminotransferase, mitochondrial (KAT/AadAT) (2-aminoadipate aminotransferase) (2-aminoadipate transaminase) (EC 2.6.1.39) (Alpha-aminoadipate aminotransferase) (AadAT) (Kynurenine aminotransferase II) (Kynurenine--oxoglutarate aminotransferase II) (Kynurenine--oxoglutarate transaminase 2) (EC 2.6.1.7) (Kynurenine--oxoglutarate transaminase II)	Aadat Kat2	Mus musculus (Mouse)	425
P41234	ABCA2_MOUSE	reviewed	ATP-binding cassette sub-family A member 2 (ATP-binding cassette transporter 2) (ATP-binding cassette 2)	Abca2 Abc2	Mus musculus (Mouse)	2434
Q8R420	ABCA3_MOUSE	reviewed	ATP-binding cassette sub-family A member 3	Abca3	Mus musculus (Mouse)	1704
Q91V24	ABCA7_MOUSE	reviewed	ATP-binding cassette sub-family A member 7	Abca7	Mus musculus (Mouse)	2159
Q9QY30	ABCBB_MOUSE	reviewed	Bile salt export pump (ATP-binding cassette sub-family B member 11) (Sister of P-glycoprotein)	Abcb11 Bsep Spgp	Mus musculus (Mouse)	1321
P70170	ABCC9_MOUSE	reviewed	ATP-binding cassette sub-family C member 9 (Sulfonylurea receptor 2)	Abcc9 Sur2	Mus musculus (Mouse)	1546
Q9DBL1	ACDSB_MOUSE	reviewed	Short/branched chain specific acyl-CoA dehydrogenase, mitochondrial (SBCAD) (EC 1.3.8.5) (2-methyl branched chain acyl-CoA dehydrogenase) (2-MEBCAD) (2-methylbutyryl-coenzyme A dehydrogenase) (2-methylbutyryl-CoA dehydrogenase)	Acadsb	Mus musculus (Mouse)	432
P49582	ACHA7_MOUSE	reviewed	Neuronal acetylcholine receptor subunit alpha-7	Chrna7 Acra7	Mus musculus (Mouse)	502
Q8VCW8	ACSF2_MOUSE	reviewed	Acyl-CoA synthetase family member 2, mitochondrial (EC 6.2.1.-)	Acsf2	Mus musculus (Mouse)	615
Q3UNX5	ACSM3_MOUSE	reviewed	Acyl-coenzyme A synthetase ACSM3, mitochondrial (EC 6.2.1.2) (Acyl-CoA synthetase medium-chain family member 3) (Butyrate--CoA ligase 3) (Butyryl-coenzyme A synthetase 3) (Middle-chain acyl-CoA synthetase 3) (Protein SA homolog)	Acsm3 Sa Sah	Mus musculus (Mouse)	580
Q8VCV1	AB17C_MOUSE	reviewed	Protein ABHD17C (EC 3.-.-.-) (Alpha/beta hydrolase domain-containing protein 17C) (Abhydrolase domain-containing protein 17C)	Abhd17c	Mus musculus (Mouse)	320

In [ ]:
rows = csv.reader(open('samples/data.csv'), dialect='excel')

Sniffer() is a class that tries to determine whether the dialect for a file is commas or tabs

In [29]:
dialect = csv.Sniffer().sniff(open('samples/data.csv').read())
rows = csv.reader(open('samples/data.csv'), dialect=dialect)
print(next(rows))
print(next(rows))

['Entry', 'Entry name', 'Status', 'Protein names', 'Gene names', 'Organism', 'Length']
['Q8BG02', '2ABG_MOUSE', 'reviewed', 'Serine/threonine-protein phosphatase 2A 55 kDa regulatory subunit B gamma isoform (PP2A subunit B isoform B55-gamma) (PP2A subunit B isoform PR55-gamma) (PP2A subunit B isoform R2-gamma) (PP2A subunit B isoform gamma)', 'Ppp2r2c', 'Mus musculus (Mouse)', '447']

For more methods in the CSV module see...
- See Python documentantion: https://docs.python.org/3/library/csv.html
- Python Enhancement Proposal (PEP): https://www.python.org/dev/peps/pep-0305/

### To directly read Excel files use the __xlrd__ module
- install with pip or conda

Listing 5.8: Read and xlsx file with xlrd

Make a dictionary out of column A (0, keys) and Column C (2, values)

In [32]:
import xlrd
iedb = {} # creates an empty dictionary
book = xlrd.open_workbook('samples/sampledata.xlsx') # retrieves data from an Excel file
sh = book.sheet_by_index(0) # runs command sheet_by_index on variable book to create sh, starting with the first index
for row_index in range(1, sh.nrows): #skips fist line
    iedb[int(sh.cell_value(rowx=row_index, colx=0))] = \
        sh.cell_value(rowx=row_index, colx=2)
print(iedb)

{6273: 'CGAELNHFL', 14101: 'ERYLKDQQL', 22030: 'GRFKLIVLY', 25569: 'IDFPKTFGW', 26070: 'IFFPKTFGW', 26790: 'IKFPKTFGW', 27049: 'ILFPKTFGW', 27636: 'INFPKTFGW', 28419: 'IRYPKTFGW', 33140: 'KRGILTLKY', 33170: 'KRKKAYADF', 33260: 'KRYKSIVKY', 55565: 'RRFVNVVPTF', 55785: 'RRYQKSTEL', 58781: 'SKADVIAKY', 60636: 'SRDKTIIMW', 63789: 'TGASIQTTL', 144753: 'QRSPMFEGTL', 144784: 'SKFPKMRMG', 226822: 'AKFPGMKKSK', 504020: 'NQFNGGCLLV'}

Listing 5.9: Write and XLS file with xlwt

In [ ]:
import xlwt
list1 = [1,2,3,4,5]
list2 = [234,267,281,301,331]
wb = xlwt.Workbook()
ws = wb.add_sheet('First sheet')
ws.write(0,0,'Column A')
ws.write(0,1,'Column B')
i = 1
for x,y in zip(list1,list2): #Walk two list at the same time.
    ws.write(i,0,x) # Row, Column, Data.
    ws.write(i,1,y)
    i += 1
wb.save('mynewfile.xls')

See chapter 18, listing 18.2 for a pyExcelerator example

Pickle: can store all variables created during a program and retrieve them later

In [33]:
import pickle
sp_dict = {'one':'uno', 'two':'dos', 'three':'tres'}
with open('spdict.data', 'wb') as fh:
    pickle.dump(sp_dict, fh)

In [34]:
pickle.load(open('spdict.data','rb'))
{'one':'uno', 'two':'dos', 'three':'tres'}

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

What do I want to do with my csv file? 
- open, read it into an array/matrix 
- append a new column entitled "PortionOfYear" that holds the solution from dividing the value in column "WEEK" by 53

In [9]:
# data = list(csv.reader(open('../../Data/CDCvirusILI/FluViewPhase2Data/ILINet.csv')))
# data[2][1]

'X'

I imported my ILI file as a 2D-array  - whaaaa whooo!

# 20180718 Wednesday

I should probably be using numpy or pandas instead of the csv module.

Difference between a Matrix & an Array
- Matrix is a math thing, array is a data thing
- https://stackoverflow.com/questions/4151128/what-are-the-differences-between-numpy-arrays-and-matrices-which-one-should-i-u
- https://www.scipy.org/scipylib/faq.html


This is awesome!
### Scientific Python Cheat Sheet
https://ipgp.github.io/scientific_python_cheat_sheet/
- Copyright for this article Â© 2016 Institut de Physique du Globe de Paris. This is an open access article distributed under the terms of the Creative Commons Attribution 4.0 License, Permits almost any use subject to providing credit and license notice.


### What is the difference between numpy and pandas?

#### Should I use pandas or numpy for data wrangling?
- What are the advantages of using Pandas over Numpy for ML and Data Analysis
    - https://www.quora.com/What-are-the-advantages-of-using-Pandas-over-Numpy-for-ML-and-Data-Analysis
        1.  Having an R-style dataframe (with column names!) can help a lot in keeping track of your data.
        2.  A numpy array requires homogeneous data.  With a pandas dataframe, you can have different data types (float, int, string, datetime, etc) all in one place
        3.  Pandas has built in functionality for a lot of common data-processing applications: for example, easy group by syntax, easy joins (which are also really efficient in pandas), rolling windows
        4.  Good IO capabilities; I frequently pull data from a MySQL database directly into a data frame
        5.  With pandas, you can use patsy for R-style syntax in doing regressions, etc, referring to variables by column name
        6. because your data has labels in pandas. It's the same reason you want to name your variables instead of calling them a,b,c,d,e,f....
            - Pandas brings in table format with labeled columns, plus indexing on the rows, which everyone is familiar with. Want to apply an operation to a variable? Just call the label name for that variable, no need to remember which number column it was. Have a key that you can index the table on? Now you can search for duplicates, group by that key and aggregate, etc
            - I always use pandas for everything, until I have to feed the data into another library that only works with numpy arrays. You use .values to call the underlying array and then transform the output back into a pandas DataFrame immediately so you only have to figure out what the labels should be once
- Pandas and NumPy arrays explained
    - This blog post covers the NumPy and pandas array data objects, main characteristics and differences.   
    - https://medium.com/@ericvanrees/pandas-series-objects-and-numpy-arrays-15dfe05919d7
- What is the relationship among NumPy, SciPy, Pandas, and Scikit-learn and when should I use each one of them?
    - https://www.quora.com/What-is-the-relationship-among-NumPy-SciPy-Pandas-and-Scikit-learn-and-when-should-I-use-each-one-of-them
    - Numpy. Adds Python support for large, multi-dimensional arrays and matrices, along with a large library of high-level mathematical functions to operate on these arrays.
    - SciPy is a collection of mathematical algorithms and convenience functions built on the Numpy extension of Python. It adds significant power to the interactive Python session by providing the user with high-level commands and classes for manipulating and visualizing data.
    - Pandas. Software library written for data manipulation and analysis in Python. Offers data structures and operations for manipulating numerical tables and time series.  
    - Scikit-learn is a Python module for machine learning built on top of SciPy and distributed under the 3-Clause BSD license.
    - __If you want to study machine learning then you need to know all of them.__
- Performance of Python vs Pandas vs Numpy
    - http://machinelearningexp.com/data-science-performance-of-python-vs-pandas-vs-numpy/
    - See Graph & Notebook
  


### Python Libraries for Data Science 
- Top 15 Python Libraries for Data Science in 2017
    - https://activewizards.com/blog/top-15-libraries-for-data-science-in-python/
    - This is awesome!
    - (good pictures!)

### Learn beginners/int Pandas
- Top 8 resources for learning data analysis with pandas
    - https://www.dataschool.io/best-python-pandas-resources/
- Pandas Cheat Sheet: Data Science and Data Wrangling in Python
    - https://www.kdnuggets.com/2017/01/pandas-cheat-sheet.html
- Pandas Tutorial: DataFrames in Python
    - https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python

# 20180719 Thursday

Google "Learn pandas"
- (don't forget to look above this list)
- Eleven lessons posted in Jupyter notebooks from Hedaro
    - https://bitbucket.org/hrojas/learn-pandas
    - these look like great examples of real code with clear steps: Create Data, Get Data, Prepare Data, Analyze Data, Present Data 
    - e.g. Lesson 1: "5 baby names and the number of births recorded for that year (1880)." http://nbviewer.jupyter.org/urls/bitbucket.org/hrojas/learn-pandas/raw/master/lessons/01%20-%20Lesson.ipynb
    - Lesson 2: "1,000 baby names and the number of births recorded for that year (1880). We will also add plenty of duplicates so you will see the same baby name more than once. You can think of the multiple entries per name simply being different hospitals around the country reporting the number of births per baby name"
- How to Learn Pandas __Very good__
    - Short version of article: https://www.reddit.com/r/learnpython/comments/79vixw/how_to_practice_pandas/dp5qjar/
    - Long version of article: https://medium.com/dunder-data/how-to-learn-pandas-108905ab4955
    - great article with tips on how to skim official documentation
    - based on their recomendation, I read the NumPy User Guide from here
        - https://docs.scipy.org/doc/
        - pdf version with highlights & notes is in Mendeley/Programming/Python/NumPy
        - Pandas documentation: http://pandas.pydata.org/pandas-docs/stable/
- Pandas Basics
    - https://www.learnpython.org/en/Pandas_Basics
    - DataCamp's free tutorial
        - DataFrames & Indexing DataFrames
- Learn Pandas: Creation and Manipulation
    - https://www.codecademy.com/learn/learn-pandas-introduction
    - Create, load, select data w/Pandas
    - Modifying DataFrames
- 10 Minutes to Pandas (pandas 0.23.3 documentation)
    - https://pandas.pydata.org/pandas-docs/stable/10min.html
- Pandas: Short hands-on challenges to perfect your data manipulation skills
    - https://www.kaggle.com/learn/pandas
    - Free, 4 hours, 7 lessons
- Python Pandas Tutorial
    - https://www.tutorialspoint.com/python_pandas/
    - has column addition (~page3)
    - working with text data..
- Pandas Tutorial: Data analysis with Python: Part 1
    - https://www.dataquest.io/blog/pandas-python-tutorial/
    - Python3.5 & Jupyter notebook
    - read in data from csv
    - Do games like the Witcher 3 tend to get better reviews on the PS4 than the Xbox One? This dataset can help us find out
- Lynda Pandas courses
    - https://www.lynda.com/Pandas-training-tutorials/7715-0.html
    - 4 courses, 2-6 hours long
- Pandas Learning Resources
    - a personal list of tutorials, courses and books dedicated to pandas
- Intro to Pandas: -1 : An absolute beginners guide to Machine Learning and Data science
    - https://hackernoon.com/intro-to-pandas-1-an-absolute-beginners-guide-to-machine-learning-and-data-science-a1fed3a6f0f3
    - I don't like the tone
- Python pandas Q&A video series by Data School
    - http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb

# 20180722 Sunday


Coding StudyGroup

Maybe I should watch Brandon Rhodes - Pandas From The Ground Up - PyCon 2015
- https://www.youtube.com/watch?v=5JnMutdy6Fw
- recommended by Chris Stehlik from My Sunday StudyGroup



# 20180721 Monday

Read Pandas documentation 0.23.3

# 20180724 Tuesday

Listen to Metis' Demistifying Data Science & walk to Noisebridge

open and read in my .csv file

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# read my csv file into a dataframe using pandas
ILIcsvDF = pd.read_csv('../../Data/CDCvirusILI/FluViewPhase2Data/ILINet.csv')
# show first few entries
ILIcsvDF.head()

                                                                                                                                             PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS
REGION TYPE REGION YEAR WEEK % WEIGHTED ILI %UNWEIGHTED ILI AGE 0-4 AGE 25-49 AGE 25-64 AGE 5-24 AGE 50-64 AGE 65 ILITOTAL NUM. OF PROVIDERS                                     TOTAL PATIENTS
National    X      1997 40   1.10148        1.21686         179     X         157       205      X         29     570      192                                                            46842
                        41   1.20007        1.28064         199     X         151       242      X         23     615      191                                                            48023
                        42   1.37876        1.23906         228     X         153       266      X         34     681      219                                                            54961
                        43   1.1992         1.14473         188     X         193       236      X         36     653      213                                                            57044

Next Action
- list the column headers

In [6]:
# long form of command
list(ILIcsvDF.columns.values)

['PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS']

In [7]:
# short form
# use this command to list the column headers of a panda dataframe
list(ILIcsvDF)

['PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS']

Next Action
- set the second line as the column headers

In [3]:
# read my ILINet.csv file into a dataframe using pandas
# Explicitly pass header=<row index number> to be able to replace existing names
ILIcsvDF2 = pd.read_csv('../../Data/CDCvirusILI/FluViewPhase2Data/ILINet.csv', header=1)
# show first few entries
ILIcsvDF2.head()

                                                                                                                                             PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS
REGION TYPE REGION YEAR WEEK % WEIGHTED ILI %UNWEIGHTED ILI AGE 0-4 AGE 25-49 AGE 25-64 AGE 5-24 AGE 50-64 AGE 65 ILITOTAL NUM. OF PROVIDERS                                     TOTAL PATIENTS
National    X      1997 40   1.10148        1.21686         179     X         157       205      X         29     570      192                                                            46842
                        41   1.20007        1.28064         199     X         151       242      X         23     615      191                                                            48023
                        42   1.37876        1.23906         228     X         153       266      X         34     681      219                                                            54961
                        43   1.1992         1.14473         188     X         193       236      X         36     653      213                                                            57044

hum, the top row still shows up, but is my second row now the column headers? (Yes! see below)
- the top row still showed up because I had a typo "...DF" instead of "...DF2"

In [8]:
list(ILIcsvDF2)

['REGION TYPE',
 'REGION',
 'YEAR',
 'WEEK',
 '% WEIGHTED ILI',
 '%UNWEIGHTED ILI',
 'AGE 0-4',
 'AGE 25-49',
 'AGE 25-64',
 'AGE 5-24',
 'AGE 50-64',
 'AGE 65',
 'ILITOTAL',
 'NUM. OF PROVIDERS',
 'TOTAL PATIENTS']

#### Data to employ:
- I will be using the '%UNWEIGHTED ILI' for y-axis values. It is equal to 'ILITOTAL'/ 'TOTAL PATIENTS'
- 'YEAR' and 'WEEK' will be used for the x-axis

There are many ways to list the column headers and each takes a different amount of microseconds:
https://stackoverflow.com/questions/19482970/get-list-from-pandas-dataframe-column-headers 

In [1]: %timeit [column for column in df]
1000 loops, best of 3: 81.6 Âµs per loop

In [2]: %timeit df.columns.values.tolist()
10000 loops, best of 3: 16.1 Âµs per loop

In [3]: %timeit list(df)
10000 loops, best of 3: 44.9 Âµs per loop

In [4]: % timeit list(df.columns.values)
10000 loops, best of 3: 38.4 Âµs per loop

#### Next Action
- create a new column "PortionOfYear" that holds the solution from dividing the value in column "WEEK" by 53
- create a new column "YearWPortion" that adds the integer column "YEAR" + the integer in column "YearWPortion"
- be sure to ignore the first line of the file & don't process the header row

In [ ]:
# ILIcsvDF2["PortionOfYear"] = ILIcsvDF2["WEEK"] / 53
# ILIcsvDF2.head()

- Uh oh, do I need to convert the values in column 'week' to integers? Or will pandas infer the type? I can ask what the type is...
- Before I mess around with this, I think I want to create a new dataframe without the first row. 
    - Googled "delete a row from a dataframe pandas"
    - 3rd hit was pandas documentation, so I searched that for "remove rows" and found it in chapter 34, which falls in a section called "API Reference". I'm not sure what this is about, a quick skim through the Table of Contents indicates that it re-hashs things from earlier chapters
    - search pandas documentation for "dataframe" and scroll through the TOC... bored, back to my project

In [13]:
ILIcsvDF2.drop(index=0)
# without the cmd below, the 1st and last 30 rows print below
ILIcsvDF2.head()

,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
0,National,X,1997,40,1.10148,1.21686,179,X,157,205,X,29,570,192,46842
1,National,X,1997,41,1.20007,1.28064,199,X,151,242,X,23,615,191,48023
2,National,X,1997,42,1.37876,1.23906,228,X,153,266,X,34,681,219,54961
3,National,X,1997,43,1.19920,1.14473,188,X,193,236,X,36,653,213,57044
4,National,X,1997,44,1.65618,1.26112,217,X,162,280,X,41,700,213,55506

Note 
- The index numbers start with the first row of data, not the column headers.

- Interesetingly, index numbers were not displayed in previous views. In this view (above) "Region Type", "Region" and "year" are also shown for each row (different from before).


- At this point, I have not saved a new file. Is this file big enough that I should export the values in my dataframe, after my performed actions, to a new .csv file before I end for the day? It's probably not a big enough file to worry about this now, but once I bring together all the code to munge the data and I move on to graphing it in different ways, I should save a munged .csv file.

how do I determine the type?
- Google "determine the type of value within a dataframe pandas"
    - 4th hit is the documentation
    - search documentation for "DataFrame.describe" & read
    - this returns a summary of statistics, not what I want!
- Google "determine the dtype of an element within a dataframe pandas"
    - click on stackoverflow link & within it click on link for dtypes
    - series.dtype returns the dtype object of the underlying data
- I only want the type of the elements in column "WEEK" and "YEAR"

In [16]:
ILIcsvDF2.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

Argh! 
- look further down google hits
- Open new tabs for hits that look like they might be relevant
    - Data Analysis with Pandas
        - https://khashtamov.com/en/pandas-data-analysis/ 
    - Overview of Pandas Data Types - Practical Business Python
        - http://pbpython.com/pandas_dtypes.html

In [17]:
ILIcsvDF2['YEAR'].head()

0    1997
1    1997
2    1997
3    1997
4    1997
Name: YEAR, dtype: int64

YAY! 

from second tab opened (see above)
- Doh! I just needed a plural "s" because series are single and dataframes are multiples

In [18]:
ILIcsvDF2.dtypes

REGION TYPE           object
REGION                object
YEAR                   int64
WEEK                   int64
% WEIGHTED ILI       float64
%UNWEIGHTED ILI      float64
AGE 0-4                int64
AGE 25-49             object
AGE 25-64             object
AGE 5-24               int64
AGE 50-64             object
AGE 65                 int64
ILITOTAL               int64
NUM. OF PROVIDERS      int64
TOTAL PATIENTS         int64
dtype: object

YEAR and WEEK are integers - YAY

What next?

Next Action
- divide week by 53

In [19]:
ILIcsvDF2["PortionOfYear"] = ILIcsvDF2["WEEK"] / 53
ILIcsvDF2.head()

,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS,PortionOfYear
0,National,X,1997,40,1.10148,1.21686,179,X,157,205,X,29,570,192,46842,0.754717
1,National,X,1997,41,1.20007,1.28064,199,X,151,242,X,23,615,191,48023,0.773585
2,National,X,1997,42,1.37876,1.23906,228,X,153,266,X,34,681,219,54961,0.792453
3,National,X,1997,43,1.19920,1.14473,188,X,193,236,X,36,653,213,57044,0.811321
4,National,X,1997,44,1.65618,1.26112,217,X,162,280,X,41,700,213,55506,0.830189

- create a new column "YearWPortion" that adds the integer column "YEAR" + the integer in column "YearWPortion"

In [20]:
ILIcsvDF2["YearWPortion"] = ILIcsvDF2["YEAR"] + ILIcsvDF2["PortionOfYear"]
ILIcsvDF2.head()

,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS,PortionOfYear,YearWPortion
0,National,X,1997,40,1.10148,1.21686,179,X,157,205,X,29,570,192,46842,0.754717,1997.754717
1,National,X,1997,41,1.20007,1.28064,199,X,151,242,X,23,615,191,48023,0.773585,1997.773585
2,National,X,1997,42,1.37876,1.23906,228,X,153,266,X,34,681,219,54961,0.792453,1997.792453
3,National,X,1997,43,1.19920,1.14473,188,X,193,236,X,36,653,213,57044,0.811321,1997.811321
4,National,X,1997,44,1.65618,1.26112,217,X,162,280,X,41,700,213,55506,0.830189,1997.830189

YAY!!! 

Next Action
- graph x-axis = "YearWPortion", y-axis = "%UNWEIGHTED ILI"
- do I need to take the space out of the column header?

Import my .csv to a panda dataframe